.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 50%;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  button {
    margin-right: 10px;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s;
  }
  
  .form-field {
    margin-bottom: 15px;
  }
  
  .form-field label {
   
    font-weight: bold;
  }
  
  .form-field select,
  .form-field input[type="date"],
  .form-field textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-field textarea {
    height: 100px;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
  }
  
  button[type="button"] {
    background-color: #f44336;
    color: white;
  }
  
  button:first-child {
    background-color: #f5d7a7;
    color: black;
  }
  
  button:last-child {
    background-color: #808f75;
    color: #f5d7a7;
  }

  button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #f5d7a7;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  