<div class="task-list-container">
    <h2>Tasks</h2>
  
    <button (click)="openNewTaskModal()">New Task</button>
    <button (click)="refreshTasks()">Refresh</button>
  
    <input [(ngModel)]="searchText" placeholder="Search..." />
  
    <table class="task-table">
      <thead>
        <tr>
          <th>Assigned To</th>
          <th>Status</th>
          <th>Due Date</th>
          <th>Priority</th>
          <th>Comments</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of filteredTasks()">
          <td>{{ task.assignedTo }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.dueDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ task.priority }}</td>
          <td>{{ task.description }}</td>
          <td>
              <button (click)="openEditModal(task)">Edit</button>
            <app-edit-task *ngIf="isModalOpen" [task]="selectedTask" [mode]="modalMode" (close)="closeModal()" (save)="saveTask($event)">
            </app-edit-task>
            <button (click)="deleteTask(task)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

   <div class="delete-modal" *ngIf="isDeleteModalOpen">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Delete</h2>
        </div>
        <div class="modal-body">
          <p>Do you want to delete the task {{ taskToDelete?.assignedTo }}?</p>
        </div>
        <div class="modal-footer">
          <button (click)="closeDeleteModal()">No</button>
          <button (click)="confirmDeleteTask()">Yes</button>
        </div>
      </div>
    </div>

  </div>

